<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
    <div class="container ">
        <th:block th:include="~{fragments/nav}"></th:block>
        <div class="container mt-lg-5 border-right border-bottom bg-transparent h-100">
            <h1 class="w-100 text-light text-right">Register</h1>
        </div>
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row mt-2">
                        <div class="col-12">
                            <form th:object="${userRegisterBindingModel}"  th:action="@{/users/register}" method="post"
                                  class="tm-login-form">
                                <div class="input-group">
                                    <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Username</label>
                                    <input th:value="*{username}" th:errorclass="bg-danger" name="username" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                           id="username" placeholder="Enter username">
									<div class="mx-auto">
										<small th:each="e : ${#fields.errors('username')}" class="text-danger" th:text="${e}">Username must be between 2 and 10 characters</small>
									</div>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Password</label>
                                    <input th:value="*{password}" th:errorclass="bg-danger"  name="password" type="password" class="form-control validate"
                                           id="password" placeholder="Enter password">
									<div class="mx-auto">
										<small th:each="e : ${#fields.errors('password')}" class="text-danger" th:text="${e}">Password must be betweeen 3 and 10 characters</small>
									</div>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="confirmPassword" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Confirm Password</label>
                                    <input th:value="*{confirmPassword}" th:errorclass="bg-danger"  name="confirmPassword" type="password" class="form-control validate" id="confirmPassword" placeholder="Confirm password" >
                                </div>
                                <div class="input-group mt-3">
                                    <label for="email" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Email</label>
                                    <input th:value="*{email}" th:errorclass="bg-danger" name="email" type="email" class="form-control validate" id="email" placeholder="Enter email">
									<div class="mx-auto">
										<small th:each="e : ${#fields.errors('email')}" class="text-danger" th:text="${e}">Enter valid email address</small>
									</div>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="git" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Git</label>
                                    <input th:value="*{git}" th:errorclass="bg-danger" name="git" type="text" class="form-control validate" id="git" placeholder="Enter git">
									<div class="mx-auto text-center align-content-center">
										<small th:each="e : ${#fields.errors('git')}" class="text-danger" th:text="${e}">Enter git address following this pattern </small>
									</div>
                                </div>
                                <div class="input-group mt-3">
                                    <button type="submit" class="btn btn-primary d-inline-block mx-auto">Register</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
</body>

</html>