<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>

<th:block th:include="~{fragments/nav-bar}"></th:block>

<div class="container">
    <h2 class="text-center text-white">Login</h2>
    <form th:method="POST" th:action="@{/admin/set-role}" th:object="${userRoleSetServiceModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="form-group">
            <label for="name" class="text-white font-weight-bold">Username</label>
            <select id="name" class="form-control" th:field="*{username}">
                <option value="">- Select a username -</option>
                <div th:each="usr: ${usernames}">
                    <option th:text="${usr}" th:value="${usr}">Username</option>
                </div>
            </select>
            <p class="errors alert alert-danger" th:if="${#fields.hasErrors('username')}">
                Username is required.
            </p>
        </div>
        <div>
            <input type="checkbox" id="admin" name="admin" value="Admin" th:field="*{admin}">
            <label for="admin" class="text-white font-weight"> Admin</label><br>
            <input type="checkbox" id="user" name="user" value="User" th:field="*{user}">
            <label for="user" class="text-white font-weight">User</label><br>
        </div>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Set Roles"/>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>
